<div class="container">
    <form class="login-form">
        <div class="title">Вход</div>
        {{> Input label="Логин" name="login"}}
        {{> Input label="Пароль" name="password" type="password"}}
        {{> Button label="Вход" type="primary"}}
        {{> Button label="Нет аккаунта?" type="link" }}
    </form>
</div>
