.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav > div {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.profile {
    text-align: right;
    margin-right: 15px;
}

.input__container {
    /* float: left; */
    /* width: 133px; */

}

.input__search {
    padding-left: 25px;
    /* width: 100%; */
    background: url("src/assets/imgs/img_search_icon.png") no-repeat left;
    background-size: 20px;
    border: 0;
    /* margin: 5px; */
    border-radius: 7px;
    background-color : #d1d1d1;
    line-height: 28px;
}

.divider {
    margin-left: 15px;
    margin-right: 10px;

}

.chat__item {
    display: flex;
}

.item__img {
    height: 124px;
}
.item__container {
    height: 124px;
}

.item__avatar {
    height: 23px;
    width: 23px;
    border-radius: 50%;
}


.chat {
    margin-left: 260px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.parent {
    display: flex;
    justify-content: center;
    width: 260px;
}
.child {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.grand-child {
    align-items: left;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: top;
    text-align: top;
}

.one {
}

.two {
    inline-size: 150px;
    overflow-wrap: break-word;
    overflow: hidden;
    max-height: 83px;
    padding-left: 10px;
}

.three {
    padding-left: 10px;
    width: 45px;
}

.grand-child-child {
    width: 80%;
}

.two > p {
    text-align: left;
    max-height: 4px;
}

.grand-child-child > p {
    text-align: right;
    max-height: 4px;
    margin: 10px;

}

.count {
    margin-top: 10px;
}

.numberCircle {
    display: flex;
    width: 3ch; /* Set this to slightly wider than the longest string */
    align-items: center;  
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: blue;
    color: white;
}

.dots {
    width: 100%;
    text-align: right;
}
.dots:after {
    content: '\2807';
    font-size: 14px;
}

.chat > .header {
    display: flex;
    margin-top: 15px;
}
.header__avatar {
    width: 40px;
}


.avatar_img {
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.header__author {
    width: 45px;
}

.message_date {
    text-align: center;
}

.message_counterparty {
    background: red;
}
