<main>
    <div class="chats__container">
        <div class="chats__sider">
            <div>Chats list</div>
        </div>
        <section class="section__chat">
            <h1>Иван</h1>
            <h1>Иван</h1>
            <h1>Иван</h1>
            <h1>Иван</h1>
            <h1>Иван</h1>
            <h1>Иван</h1>
        </section>
    </div>
</main>
