.sidenav {
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  border-right: 0.05rem solid grey;

}

.sidenav > div {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
}

.profile {
  text-align: right;
  margin-right: 15px;
}

.chatlist__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
}

.input__search {
  padding-left: 25px;
  background: url("src/assets/imgs/img_search_icon.png") no-repeat left;
  background-size: 20px;
  border: 0;
  border-radius: 7px;
  background-color : #d1d1d1;
  line-height: 28px;
  width: 165px;
  vertical-align: middle;
}

.chatlist__search {
  vertical-align: middle;
  background-color: var(--main-color);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
}

.chatlist__search::before {
  content: "\002B";
  font-size: 15px;
  color: white;
}

.chat__item {
  display: flex;
}

.item__img {
  height: 124px;
}

.item__container {
  height: 124px;
}

.item__avatar {
  height: 23px;
  width: 23px;
  border-radius: 50%;
}


.chat__container {
  display: flex;
  flex-direction: column;
  margin-left: 290px;
  padding: 0 10px;
  min-height: 100vh;
}

.parent {
  display: flex;
  justify-content: center;
  width: 260px;
}

.parent__selected {
  display: flex;
  justify-content: center;
  width: 260px;
  background: #bce8f9;
}

.child {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.grand-child {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.two {
  inline-size: 150px;
  overflow-wrap: break-word;
  overflow: hidden;
  max-height: 83px;
  padding-left: 10px;
}

.three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 15px;
  width: 45px;
}

.grand-child-child {
  width: 80%;
}

.two > p {
  text-align: left;
  max-height: 4px;
}

.grand-child-child > p {
  text-align: right;
  max-height: 4px;
  margin: 10px;
}

.nav_divider {
  margin-left: 15px;
  margin-right: 10px;
}

.chatlist__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button__profile {
  border: none;
  font-weight: 500;
  display: block;
  width: 70%;
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 13px;
  margin: 5px;
}
